<article class="post" id="post">
  <header class="post-header text-center">
    <h1 class="title">
      <%=page.title%>
    </h1>
    <% if (theme.show_date && page.date) { %>
    <time class="time" datetime="<%=date_xml(page.date)%>">
      <%=date(page.date)%>
    </time>
    <% } %> |
    <span id="busuanzi_container_page_pv">本文总阅读量<span id="busuanzi_value_page_pv"></span>次
</span>
    <hr>
  </header>
  <div class="post-content">
    <%-page.content%>
  </div>
  <div>
        <ul class="post-copyright">
          <li class="post-copyright-author">
            <strong>本文作者： </strong><%=config.author%></li>
          <li class="post-copyright-link">
            <strong>本文链接：</strong>
            <a href="<%=config.url%>/<%=page.path%>" title="使用simple主题并开始写作"><%=config.url%>/<%=page.path%></a>
          </li>
          <li class="post-copyright-license">
            <strong>版权声明： </strong>本博客所有文章除特别声明外，均采用 <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="external nofollow" target="_blank">CC BY-NC-SA 4.0</a> 许可协议。转载请注明出处！</li>
        </ul>

  </div>
  <div class="post-tags">
        <%- list_tags(page.tags, {
            show_count: false,
            class: 'article-tag'
          }) %>
  </div>
</article>
<%- partial('partials/prenext') %>
<%- partial('partials/disqus') %>
<%- partial('partials/toc') %>

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
